<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./test/coverage/" charset="UTF-8"/>
    </logging>
</phpunit>

<!-- <phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false">
	<testsuites>
    	<testsuite name="Tests">
      		<directory suffix=".php">Tests</directory>
    	</testsuite>
  	</testsuites>
</phpunit> -->